<div *ngFor="let bookss of books" style="max-width: 400px; margin: auto; padding: 1em;">
    <mat-card  >
        <mat-card-title>
            Title: {{bookss.title}}
        </mat-card-title>
        <mat-card-subtitle>
           Author: {{bookss.author}}
        </mat-card-subtitle>
        <img class="img-fluid" style="width: 100px;" src="/assets/book.png">
        <mat-card-content>
            <p>Price:{{bookss.price}} Category:{{bookss.category}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="subscribeBook(bookss.id)">Subscribe</button>
            <button>UnSubscribe</button>
        </mat-card-actions>
        <mat-card-footer>
            <div></div>
        </mat-card-footer>

    </mat-card>
</div>

<!--
<table class="table" border="1" margin-top="10px">
    <thead class="thead-dark" color="primary">
      <tr>
        <th>Id</th>
            <th scope="col">Title</th>
            <th scope="col">author</th>
            <th scope="col">publisher</th>
            <th scope="col">publishdate</th>
            <th scope="col">block</th>
            <th scope="col">category</th>
            <th scope="col">content</th>
            <th scope="col">price</th>
            <th scope="col">actions</th>
        
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bookss of books">
            <th scope="row">{{bookss.id}}</th>
            
            <td>{{bookss.title}}</td>
            <td>{{bookss.author}}</td>
            <td>{{bookss.publisher}}</td>
            <td>{{bookss.publishDate}}</td>
            <td>{{bookss.block}}</td>
            <td>{{bookss.category}}</td>
            <td>{{bookss.content}}</td>
            <td>{{bookss.price}}</td>
            <td><button mat-raised-button color="primary"  class="btn btn-info">Update</button></td>
             </tr>
    </tbody>
  </table> -->